@import url(https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i);@import url(https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i);@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);/*
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 * By Hakim El Hattab, http://hakim.se
 */

/*
 * IMPORTS
 * --------------------------------------------------------------------
 */

/*
 * VARIABLES
 * --------------------------------------------------------------------
 */

/*
 * GLOBAL STYLES
 * --------------------------------------------------------------------
 */

body {
  background: #fff;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.reveal {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 25px;
  font-weight: normal;
  color: #222;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

::selection {
  color: #fff;
  background: #98bdef;
  text-shadow: none;
}

::-moz-selection {
  color: #fff;
  background: #98bdef;
  text-shadow: none;
}

.reveal .slides {
  margin: 0;
  padding: 0;
}

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit;
}

.reveal .slides section.heading {
  background-color: #1E88E5;
  color: white;
  height: calc(100vh - 160px);
  margin: 30px;
  padding: 50px;
  width: calc(100vw - 160px);
  text-align: left;
}

.reveal .slides section.heading > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
}

.reveal .slides section.heading > div * {
  color: white;
}

.reveal .slides section.heading .profile {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.reveal .slides section.heading .profile > div {
  text-align: center;
}

.reveal .slides section.heading .profile > div > div:first-child.edward {
  width: 275px;
  height: 275px;
  border-radius: 50%;
  border: 20px solid white;
  background-color: white;
  background-size: cover;
  margin-bottom: 50px;
  background-image: url("https://avatars2.githubusercontent.com/u/1201875?v=4&s=400&u=6b8aacd3863ddcded43ac09944c66bc245ca691e");
}

.reveal .slides section.heading .profile > div:last-child {
  text-align: left;
  line-height: 1.5em;
  font-size: 25px;
  border-left: 1px solid white;
  padding: 50px;
}

.reveal .slides section.heading .profile > div:last-child ul {
  list-style-type: none;
}

.reveal .slides section.heading .references {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.reveal .slides section.heading .references > div {
  text-align: center;
}

.reveal .slides section.heading .references > div > div:first-child {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 20px solid white;
  background-color: white;
  background-size: cover;
  margin-bottom: 50px;
}

.reveal .slides section.heading .references > div > div:first-child.jessica {
  background-image: url("https://avatars0.githubusercontent.com/u/1305617?v=4&s=400");
}

.reveal .slides section.heading .references > div > div:first-child.duncan {
  background-image: url("http://cardiff.imgix.net/__data/assets/image/0005/793949/Duncan-Macleod.jpg?w=400&h=400&auto=format&crop=faces&fit=crop&q=60");
}

.reveal .slides section.heading .references > div > div:first-child.adam {
  background-image: url("https://avatars1.githubusercontent.com/u/3022405?v=4&s=400");
}

.reveal .slides section.heading h3,
.reveal .slides section.heading h4,
.reveal .slides section.heading h5,
.reveal .slides section.heading h6 {
  font-weight: normal;
  letter-spacing: -1px;
}

.reveal .slides section.sub-heading {
  background-color: white;
  border: 30px solid #1E88E5;
  box-sizing: border-box;
  color: #1E88E5;
  height: 100vh;
  margin: 0;
  padding: 50px;
  text-align: left;
  width: 100vw;
}

.reveal .slides section.sub-heading > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #1E88E5;
}

.reveal .slides section.sub-heading > div * {
  color: #1E88E5;
}

.reveal .slides section.prose {
  background-color: white;
  border: 1px solid #1E88E5;
  box-sizing: border-box;
  color: #222;
  height: calc(100vh - 60px);
  margin: 30px;
  padding: 50px;
  text-align: left;
  width: calc(100vw - 60px);
}

.reveal .slides section.prose > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #222;
}

.reveal .slides section.prose > div h1,
.reveal .slides section.prose > div h2,
.reveal .slides section.prose > div h3,
.reveal .slides section.prose > div h4,
.reveal .slides section.prose > div h5,
.reveal .slides section.prose > div h6 {
  color: #1E88E5;
}

.reveal .slides section.prose-heading {
  background-color: white;
  border: 1px solid #1E88E5;
  box-sizing: border-box;
  color: #222;
  height: calc(100vh - 120px);
  margin: 60px;
  padding: 50px;
  text-align: left;
  width: calc(100vw - 120px);
}

.reveal .slides section.prose-heading > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #222;
}

.reveal .slides section.prose-heading > div h1,
.reveal .slides section.prose-heading > div h2,
.reveal .slides section.prose-heading > div h3,
.reveal .slides section.prose-heading > div h4,
.reveal .slides section.prose-heading > div h5,
.reveal .slides section.prose-heading > div h6 {
  color: #1E88E5;
}

.reveal .slides section.prose-heading:before {
  background-color: white;
  color: #1E88E5;
  content: attr(data-tile);
  float: left;
  font-family: "Lato", Helvetica, sans-serif;
  font-weight: 700;
  font-size: 50px;
  letter-spacing: -1px;
  margin: -85px -12px;
  padding: 0 12px;
  text-shadow: none;
}

.reveal .slides section.two-column-1-3 {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, #1E88E5 25%, white 25%);
}

.reveal .slides section.two-column-1-3 > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reveal .slides section.two-column-1-3 > div > div {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  width: 100%;
}

.reveal .slides section.two-column-1-3 > div > div > :nth-child(even) {
  text-align: left;
}

.reveal .slides section.two-column-1-3 > div > div > :nth-child(odd) {
  color: white;
  text-align: right;
}

.reveal .slides section.two-column-1-3 > div > div > :nth-child(odd) h1,
.reveal .slides section.two-column-1-3 > div > div > :nth-child(odd) h2,
.reveal .slides section.two-column-1-3 > div > div > :nth-child(odd) h3,
.reveal .slides section.two-column-1-3 > div > div > :nth-child(odd) h4,
.reveal .slides section.two-column-1-3 > div > div > :nth-child(odd) h5,
.reveal .slides section.two-column-1-3 > div > div > :nth-child(odd) h6 {
  color: white;
}

.reveal .slides section.two-column-1-3 > div [data-markdown] > * {
  margin: 10px 40px;
}

.reveal .slides section.two-column-1-3 > div [data-markdown] > ul {
  margin-left: 70px;
}

.reveal .slides section.two-column-1-3 > div video {
  box-sizing: border-box;
  padding: 10px 40px;
}

.reveal .slides section.two-column-2-3 {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, #1E88E5 40%, white 40%);
}

.reveal .slides section.two-column-2-3 > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reveal .slides section.two-column-2-3 > div > div {
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-items: center;
  width: 100%;
}

.reveal .slides section.two-column-2-3 > div > div > :nth-child(even) {
  text-align: left;
}

.reveal .slides section.two-column-2-3 > div > div > :nth-child(odd) {
  color: white;
  text-align: right;
}

.reveal .slides section.two-column-2-3 > div > div > :nth-child(odd) h1,
.reveal .slides section.two-column-2-3 > div > div > :nth-child(odd) h2,
.reveal .slides section.two-column-2-3 > div > div > :nth-child(odd) h3,
.reveal .slides section.two-column-2-3 > div > div > :nth-child(odd) h4,
.reveal .slides section.two-column-2-3 > div > div > :nth-child(odd) h5,
.reveal .slides section.two-column-2-3 > div > div > :nth-child(odd) h6 {
  color: white;
}

.reveal .slides section.two-column-2-3 > div [data-markdown] > * {
  margin: 10px 40px;
}

.reveal .slides section.two-column-2-3 > div [data-markdown] > ul {
  margin-left: 70px;
}

.reveal .slides section.two-column-2-3 > div video {
  box-sizing: border-box;
  padding: 10px 40px;
}

.reveal .slides section.two-column-1-1 {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, #1E88E5 50%, white 50%);
}

.reveal .slides section.two-column-1-1 > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reveal .slides section.two-column-1-1 > div > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 100%;
}

.reveal .slides section.two-column-1-1 > div > div > :nth-child(even) {
  text-align: left;
}

.reveal .slides section.two-column-1-1 > div > div > :nth-child(odd) {
  color: white;
  text-align: right;
}

.reveal .slides section.two-column-1-1 > div > div > :nth-child(odd) h1,
.reveal .slides section.two-column-1-1 > div > div > :nth-child(odd) h2,
.reveal .slides section.two-column-1-1 > div > div > :nth-child(odd) h3,
.reveal .slides section.two-column-1-1 > div > div > :nth-child(odd) h4,
.reveal .slides section.two-column-1-1 > div > div > :nth-child(odd) h5,
.reveal .slides section.two-column-1-1 > div > div > :nth-child(odd) h6 {
  color: white;
}

.reveal .slides section.two-column-1-1 > div [data-markdown] > * {
  margin: 10px 40px;
}

.reveal .slides section.two-column-1-1 > div [data-markdown] > ul {
  margin-left: 70px;
}

.reveal .slides section.two-column-1-1 > div video {
  box-sizing: border-box;
  padding: 10px 40px;
}

.reveal .slides section.two-column-3-2 {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, #1E88E5 60%, white 60%);
}

.reveal .slides section.two-column-3-2 > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reveal .slides section.two-column-3-2 > div > div {
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: center;
  width: 100%;
}

.reveal .slides section.two-column-3-2 > div > div > :nth-child(even) {
  text-align: left;
}

.reveal .slides section.two-column-3-2 > div > div > :nth-child(odd) {
  color: white;
  text-align: right;
}

.reveal .slides section.two-column-3-2 > div > div > :nth-child(odd) h1,
.reveal .slides section.two-column-3-2 > div > div > :nth-child(odd) h2,
.reveal .slides section.two-column-3-2 > div > div > :nth-child(odd) h3,
.reveal .slides section.two-column-3-2 > div > div > :nth-child(odd) h4,
.reveal .slides section.two-column-3-2 > div > div > :nth-child(odd) h5,
.reveal .slides section.two-column-3-2 > div > div > :nth-child(odd) h6 {
  color: white;
}

.reveal .slides section.two-column-3-2 > div [data-markdown] > * {
  margin: 10px 40px;
}

.reveal .slides section.two-column-3-2 > div [data-markdown] > ul {
  margin-left: 70px;
}

.reveal .slides section.two-column-3-2 > div video {
  box-sizing: border-box;
  padding: 10px 40px;
}

.reveal .slides section.two-column-3-1 {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, #1E88E5 75%, white 75%);
}

.reveal .slides section.two-column-3-1 > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reveal .slides section.two-column-3-1 > div > div {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  width: 100%;
}

.reveal .slides section.two-column-3-1 > div > div > :nth-child(even) {
  text-align: left;
}

.reveal .slides section.two-column-3-1 > div > div > :nth-child(odd) {
  color: white;
  text-align: right;
}

.reveal .slides section.two-column-3-1 > div > div > :nth-child(odd) h1,
.reveal .slides section.two-column-3-1 > div > div > :nth-child(odd) h2,
.reveal .slides section.two-column-3-1 > div > div > :nth-child(odd) h3,
.reveal .slides section.two-column-3-1 > div > div > :nth-child(odd) h4,
.reveal .slides section.two-column-3-1 > div > div > :nth-child(odd) h5,
.reveal .slides section.two-column-3-1 > div > div > :nth-child(odd) h6 {
  color: white;
}

.reveal .slides section.two-column-3-1 > div [data-markdown] > * {
  margin: 10px 40px;
}

.reveal .slides section.two-column-3-1 > div [data-markdown] > ul {
  margin-left: 70px;
}

.reveal .slides section.two-column-3-1 > div video {
  box-sizing: border-box;
  padding: 10px 40px;
}

.reveal .slides section.three-column-2-3-3 {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, #1E88E5 25%, white 25%);
}

.reveal .slides section.three-column-2-3-3 > div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.reveal .slides section.three-column-2-3-3 > div > div {
  display: grid;
  grid-template-columns: 2fr 3fr 3fr;
  align-items: center;
}

.reveal .slides section.three-column-2-3-3 > div > div > * {
  margin: 10px 40px;
}

.reveal .slides section.three-column-2-3-3 > div > div > ul {
  margin-left: 65px;
}

.reveal .slides section.three-column-2-3-3 > div > div > :nth-child(3n) {
  margin-left: 0;
}

.reveal .slides section.three-column-2-3-3 > div > div > ul:nth-child(3n) {
  margin-left: 25px;
}

.reveal .slides section.three-column-2-3-3 > div > div > :nth-child(3n+2),
.reveal .slides section.three-column-2-3-3 > div > div > :nth-child(3n) {
  text-align: left;
}

.reveal .slides section.three-column-2-3-3 > div > div > :nth-child(3n+1) {
  color: white;
  text-align: right;
}

.reveal .slides section.three-column-2-3-3 > div > div > :nth-child(3n+1) h1,
.reveal .slides section.three-column-2-3-3 > div > div > :nth-child(3n+1) h2,
.reveal .slides section.three-column-2-3-3 > div > div > :nth-child(3n+1) h3,
.reveal .slides section.three-column-2-3-3 > div > div > :nth-child(3n+1) h4,
.reveal .slides section.three-column-2-3-3 > div > div > :nth-child(3n+1) h5,
.reveal .slides section.three-column-2-3-3 > div > div > :nth-child(3n+1) h6 {
  color: white;
}

.reveal .slides section.three-column-4-3-3 {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, #1E88E5 40%, white 40%);
}

.reveal .slides section.three-column-4-3-3 > div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.reveal .slides section.three-column-4-3-3 > div > div {
  display: grid;
  grid-template-columns: 4fr 3fr 3fr;
  align-items: center;
}

.reveal .slides section.three-column-4-3-3 > div > div > * {
  margin: 10px 40px;
}

.reveal .slides section.three-column-4-3-3 > div > div > ul {
  margin-left: 65px;
}

.reveal .slides section.three-column-4-3-3 > div > div > :nth-child(3n) {
  margin-left: 0;
}

.reveal .slides section.three-column-4-3-3 > div > div > ul:nth-child(3n) {
  margin-left: 25px;
}

.reveal .slides section.three-column-4-3-3 > div > div > :nth-child(3n+2),
.reveal .slides section.three-column-4-3-3 > div > div > :nth-child(3n) {
  text-align: left;
}

.reveal .slides section.three-column-4-3-3 > div > div > :nth-child(3n+1) {
  color: white;
  text-align: right;
}

.reveal .slides section.three-column-4-3-3 > div > div > :nth-child(3n+1) h1,
.reveal .slides section.three-column-4-3-3 > div > div > :nth-child(3n+1) h2,
.reveal .slides section.three-column-4-3-3 > div > div > :nth-child(3n+1) h3,
.reveal .slides section.three-column-4-3-3 > div > div > :nth-child(3n+1) h4,
.reveal .slides section.three-column-4-3-3 > div > div > :nth-child(3n+1) h5,
.reveal .slides section.three-column-4-3-3 > div > div > :nth-child(3n+1) h6 {
  color: white;
}

.reveal .slides section.three-column-2-1-1 {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, #1E88E5 50%, white 50%);
}

.reveal .slides section.three-column-2-1-1 > div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.reveal .slides section.three-column-2-1-1 > div > div {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: center;
}

.reveal .slides section.three-column-2-1-1 > div > div > * {
  margin: 10px 40px;
}

.reveal .slides section.three-column-2-1-1 > div > div > ul {
  margin-left: 65px;
}

.reveal .slides section.three-column-2-1-1 > div > div > :nth-child(3n) {
  margin-left: 0;
}

.reveal .slides section.three-column-2-1-1 > div > div > ul:nth-child(3n) {
  margin-left: 25px;
}

.reveal .slides section.three-column-2-1-1 > div > div > :nth-child(3n+2),
.reveal .slides section.three-column-2-1-1 > div > div > :nth-child(3n) {
  text-align: left;
}

.reveal .slides section.three-column-2-1-1 > div > div > :nth-child(3n+1) {
  color: white;
  text-align: right;
}

.reveal .slides section.three-column-2-1-1 > div > div > :nth-child(3n+1) h1,
.reveal .slides section.three-column-2-1-1 > div > div > :nth-child(3n+1) h2,
.reveal .slides section.three-column-2-1-1 > div > div > :nth-child(3n+1) h3,
.reveal .slides section.three-column-2-1-1 > div > div > :nth-child(3n+1) h4,
.reveal .slides section.three-column-2-1-1 > div > div > :nth-child(3n+1) h5,
.reveal .slides section.three-column-2-1-1 > div > div > :nth-child(3n+1) h6 {
  color: white;
}

.reveal .slides section.three-column-6-2-2 {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, #1E88E5 60%, white 60%);
}

.reveal .slides section.three-column-6-2-2 > div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.reveal .slides section.three-column-6-2-2 > div > div {
  display: grid;
  grid-template-columns: 6fr 2fr 2fr;
  align-items: center;
}

.reveal .slides section.three-column-6-2-2 > div > div > * {
  margin: 10px 40px;
}

.reveal .slides section.three-column-6-2-2 > div > div > ul {
  margin-left: 65px;
}

.reveal .slides section.three-column-6-2-2 > div > div > :nth-child(3n) {
  margin-left: 0;
}

.reveal .slides section.three-column-6-2-2 > div > div > ul:nth-child(3n) {
  margin-left: 25px;
}

.reveal .slides section.three-column-6-2-2 > div > div > :nth-child(3n+2),
.reveal .slides section.three-column-6-2-2 > div > div > :nth-child(3n) {
  text-align: left;
}

.reveal .slides section.three-column-6-2-2 > div > div > :nth-child(3n+1) {
  color: white;
  text-align: right;
}

.reveal .slides section.three-column-6-2-2 > div > div > :nth-child(3n+1) h1,
.reveal .slides section.three-column-6-2-2 > div > div > :nth-child(3n+1) h2,
.reveal .slides section.three-column-6-2-2 > div > div > :nth-child(3n+1) h3,
.reveal .slides section.three-column-6-2-2 > div > div > :nth-child(3n+1) h4,
.reveal .slides section.three-column-6-2-2 > div > div > :nth-child(3n+1) h5,
.reveal .slides section.three-column-6-2-2 > div > div > :nth-child(3n+1) h6 {
  color: white;
}

.reveal .slides section.three-column-6-1-1 {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, #1E88E5 75%, white 75%);
}

.reveal .slides section.three-column-6-1-1 > div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.reveal .slides section.three-column-6-1-1 > div > div {
  display: grid;
  grid-template-columns: 6fr 1fr 1fr;
  align-items: center;
}

.reveal .slides section.three-column-6-1-1 > div > div > * {
  margin: 10px 40px;
}

.reveal .slides section.three-column-6-1-1 > div > div > ul {
  margin-left: 65px;
}

.reveal .slides section.three-column-6-1-1 > div > div > :nth-child(3n) {
  margin-left: 0;
}

.reveal .slides section.three-column-6-1-1 > div > div > ul:nth-child(3n) {
  margin-left: 25px;
}

.reveal .slides section.three-column-6-1-1 > div > div > :nth-child(3n+2),
.reveal .slides section.three-column-6-1-1 > div > div > :nth-child(3n) {
  text-align: left;
}

.reveal .slides section.three-column-6-1-1 > div > div > :nth-child(3n+1) {
  color: white;
  text-align: right;
}

.reveal .slides section.three-column-6-1-1 > div > div > :nth-child(3n+1) h1,
.reveal .slides section.three-column-6-1-1 > div > div > :nth-child(3n+1) h2,
.reveal .slides section.three-column-6-1-1 > div > div > :nth-child(3n+1) h3,
.reveal .slides section.three-column-6-1-1 > div > div > :nth-child(3n+1) h4,
.reveal .slides section.three-column-6-1-1 > div > div > :nth-child(3n+1) h5,
.reveal .slides section.three-column-6-1-1 > div > div > :nth-child(3n+1) h6 {
  color: white;
}

.reveal .slides section .parameter {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-column-gap: 30px;
}

.reveal .slides section .parameter > code:first-child {
  justify-self: right;
  align-self: start;
}

.reveal .slides section .parameter > em:last-child {
  justify-self: left;
}

.reveal .slides section.terminal {
  height: calc(100vh - 160px);
  margin: 80px;
  padding: 0;
  width: calc(100vw - 160px);
  text-align: left;
  font-family: monospace;
  font-size: 16px;
}

.reveal .slides section.terminal > div {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 30px auto;
  box-shadow: 0 1px 8px rgba(21, 101, 192, 0.3), 0 0 0 1px rgba(21, 101, 192, 0.04);
  -webkit-font-smoothing: antialiased;
}

.reveal .slides section.terminal > div > div:first-child {
  color: #1E88E5;
  border: 1px solid #1E88E5;
  border-bottom: none;
  border-collapse: collapse;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.reveal .slides section.terminal > div > div:first-child .circle {
  border-radius: 5px;
  width: 10px;
  height: 10px;
  flex: 0 0 auto;
  margin-right: 8px;
}

.reveal .slides section.terminal > div > div:first-child .circle.red {
  border: 1px solid #C62828;
  /* 800 */
  background-color: #E57373;
  /* 300 */
}

.reveal .slides section.terminal > div > div:first-child .circle.amber {
  border: 1px solid #FF8F00;
  background-color: #FFD54F;
}

.reveal .slides section.terminal > div > div:first-child .circle.green {
  border: 1px solid #2E7D32;
  background-color: #81C784;
}

.reveal .slides section.terminal > div > div:first-child :last-child {
  flex: 1 0 auto;
  text-align: center;
}

.reveal .slides section.terminal > div > div:last-child {
  border: 1px solid #1E88E5;
  border-collapse: collapse;
  padding: 20px;
  overflow: scroll;
  font-size: 25px;
}

.reveal .slides section.terminal > div > div:last-child .fragment:not(.visible) {
  display: none;
}

/*
 * HEADERS
 * --------------------------------------------------------------------
 */

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #222;
  font-family: "Lato", Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: normal;
  text-shadow: none;
  word-wrap: break-word;
}

.reveal h1 {
  font-size: 85px;
}

.reveal h2 {
  font-size: 62.5px;
}

.reveal h3 {
  font-size: 52.5px;
}

.reveal h4 {
  font-size: 42.5px;
}

.reveal h5 {
  font-size: 37.5px;
}

.reveal h6 {
  font-size: 31.25px;
}

.reveal h1 {
  text-shadow: none;
}

.reveal section.has-dark-background,
.reveal section.has-dark-background h1,
.reveal section.has-dark-background h2,
.reveal section.has-dark-background h3,
.reveal section.has-dark-background h4,
.reveal section.has-dark-background h5,
.reveal section.has-dark-background h6 {
  color: #fff;
}

.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: "Roboto", Helvetica, sans-serif;
}

/*
 * OTHER
 * --------------------------------------------------------------------
 */

.reveal p {
  margin: 20px 0;
  line-height: 1.3;
  font-size: 25px;
}

.reveal .slides section > div .quote {
  font-size: 25px;
  font-weight: normal;
}

.reveal .slides section > div .quote em:first-child:before {
  content: "\"";
}

.reveal .slides section > div .quote em:first-child:after {
  content: "\"";
}

.reveal .slides section > div .quote em:last-child {
  font-size: 25px;
  font-weight: bold;
}

.reveal .slides section > div .quote em:last-child:before {
  white-space: pre;
  content: "\A- ";
}

/* Ensure certain elements are never larger than the slide itself */

.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
}

.reveal strong,
.reveal b {
  font-weight: bold;
}

.reveal em {
  font-style: italic;
}

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em;
}

.reveal ol {
  list-style-type: decimal;
}

.reveal ul {
  list-style-type: disc;
}

.reveal ul ul {
  list-style-type: square;
}

.reveal ul ul ul {
  list-style-type: circle;
}

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px;
}

.reveal dt {
  font-weight: bold;
}

.reveal dd {
  margin-left: 40px;
}

.reveal q,
.reveal blockquote {
  quotes: none;
}

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block;
}

.reveal q {
  font-style: italic;
}

.reveal pre {
  display: block;
  position: relative;
  margin: 20px auto;
  text-align: left;
  font-family: monospace;
  line-height: 1.2em;
}

.reveal code {
  font-family: monospace;
  background-color: #e9f3fc;
  padding: 0.1em 0.3em;
  font-size: 85%;
  border-radius: 3px;
}

.reveal pre code {
  display: block;
  padding: 20px;
  overflow: auto;
  max-height: 400px;
  border: 1px solid #1E88E5;
  background-color: rgba(30, 136, 229, 0.1);
  font-size: 85%;
}

.reveal pre code .bash {
  font-weight: bold;
}

.reveal pre code .hljs-meta {
  color: #1E88E5;
}

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
}

.reveal table th {
  font-weight: bold;
}

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid;
}

.reveal table th [align="center"],
.reveal table td [align="center"] {
  text-align: center;
}

.reveal table th [align="right"],
.reveal table td [align="right"] {
  text-align: right;
}

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none;
}

.reveal sup {
  vertical-align: super;
}

.reveal sub {
  vertical-align: sub;
}

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top;
}

.reveal small * {
  vertical-align: top;
}

/*
 * LINKS
 * --------------------------------------------------------------------
 */

.reveal a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease;
}

.reveal a:hover {
  color: inherit;
  text-shadow: none;
  border: none;
}

.reveal .roll span:after {
  color: #fff;
  background: #1a53a1;
}

/*
 * IMAGES
 * --------------------------------------------------------------------
 */

.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.reveal section img.plain {
  border: 0;
  box-shadow: none;
}

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear;
}

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #2a76dd;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}

/*
 * NAVIGATION CONTROLS
 * --------------------------------------------------------------------
 */

.reveal .controls {
  transform: scale(0.25) translateY(100%) translateX(100%);
}

.reveal .controls .navigate-left {
  border-right-color: #1E88E5;
}

.reveal .controls .navigate-right {
  border-left-color: #1E88E5;
}

.reveal .controls .navigate-up {
  border-bottom-color: #1E88E5;
}

.reveal .controls .navigate-down {
  border-top-color: #1E88E5;
}

.reveal .controls .navigate-left.enabled {
  border-right-color: #1E88E5;
}

.reveal .controls .navigate-right.enabled {
  border-left-color: #1E88E5;
}

.reveal .controls .navigate-up.enabled {
  border-bottom-color: #1E88E5;
}

.reveal .controls .navigate-down.enabled {
  border-top-color: #1E88E5;
}

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: #6ca0e8;
}

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: #6ca0e8;
}

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: #6ca0e8;
}

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: #6ca0e8;
}

.no-controls .reveal .controls {
  display: none !important;
}

/*
 * PROGRESS BAR
 * --------------------------------------------------------------------
 */

.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
}

.reveal .progress span {
  background: #1E88E5;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}